.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.logo {
  border-radius: 100%;
}

.logo-title h1 {
  margin-bottom: 0;
}

.logo-title h3 {
  margin-top: 0;
}

.link-title {
  all: unset;
  cursor: pointer;
}

.language-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}

.en:hover {
  box-shadow: 0px 0px 15px red;
}
