html {
  scroll-behavior: smooth;
}

/* body {
  background: linear-gradient(
    180deg,
    rgb(0, 0, 32) 0%,
    rgb(0, 24, 90) 50%,
    rgb(0, 55, 92) 100%
  );
  color: white;
} */

body{
  background-color: antiquewhite;
  color: black;
}

.container {
  margin: 1rem 1rem;
}

/* Language menu */
.language-menu-title {
  justify-content: center;
  text-align: center;
}

.language-main {
  margin: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.language-main-option {
  all: unset;
  width: 15rem;
  height: 20rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid white;
  border-radius: 2rem;
}

.es:hover {
  background: linear-gradient(yellow 0%, blue 60%, red 90%);
  box-shadow: 0px 0px 15px yellow;
}

.en:hover {
  background: linear-gradient(white 0%, red 60%, blue 90%);
  box-shadow: 0px 0px 15px blue;
}

/* About */
.about-container {
  margin: 5rem 0 7rem 15rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.about-text {
  margin-left: -2rem;
}

.profile {
  height: 272px;
}

.profile-image {
  position: relative;
  width: 200px;
  height: 241px;
  top: -16.5rem;
  left: 2rem;
}

.profile-picture-background {
  position: relative;
  z-index: -1;
  width: 17rem;
  height: 17rem;
  border-radius: 100% 100%;
  background-color: #1d267d;
}

/* Skills */
.skills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}

.skills-graph-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

/* Projects */

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 2rem;
}

.project-container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  justify-content: center;
  margin-bottom: 2rem;
}

.container-solo-project {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 0 1rem 0 1rem;
  font-weight: bolder;
  margin-bottom: 2rem;
}

.project-title {
  color: white;
  text-decoration: none;
}

.project-links {
  display: flex;
  flex-direction: row;
  margin: 1rem;
  gap: 1rem;
}

.project-links a {
  all: unset;
  cursor: pointer;
}

.projects p {
  margin: 0;
}

/* Tools */
.container-tools {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 1rem 0;
}

.container-tools img {
  padding: 0 0.4rem;
}

/* Education */

.container-education {
  margin: 2rem 10rem 5rem 20rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.education-bar {
  padding-left: 1rem;
  border-left: #1d267d solid 0.2rem;
}

/* Contact */

.contact-container {
  margin: 8rem 10rem 10rem 10rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.social-link {
  all: unset;
  display: flex;
  flex-direction: row;
  border-radius: 1rem;
  margin: 1rem;
  align-items: center;
  justify-content: center;
  width: 12rem;
  height: 4rem;
  gap: 1rem;
  cursor: pointer;
}

.li-btn {
  background-color: blue;
}

.wa-btn {
  background-color: green;
}

.gmail-btn {
  background-color: red;
}

.li-btn:hover {
  box-shadow: 0px 0px 10px rgb(133, 133, 255);
  background-color: rgb(56, 56, 255);
}

.wa-btn:hover {
  box-shadow: 0px 0px 10px rgb(37, 168, 37);
  background-color: rgb(0, 168, 0);
}

.gmail-btn:hover {
  box-shadow: 0px 0px 10px rgb(255, 54, 54);
  background-color: rgb(255, 39, 39);
}

/* Responsive */

@media (max-width: 500px) {
  .language-main {
    flex-direction: column;
  }
}

@media (max-width: 1018px) {
  .about-container {
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  .about-text {
    margin: 0;
  }

  .project-container {
    display: flex;
    flex-direction: column;
  }

  .container-education {
    margin: 2rem 0 5rem 0;
  }

  .social-btns-container {
    border-right: solid 0.2rem #1d267d;
  }
}
