:root{
  --background: #FAF2D3;
  --emphazis: #F4E869;
  --primary: #3085C3;
  --secondary: #5CD2E6;
}

html {
  scroll-behavior: smooth;
  
}

body{
  background-color: var(--background);
}

.container {
  margin: 1rem 1rem;
}