.navegation-compact {
  display: none;
  position: fixed;
  overflow-y: hidden;
  width: 100%;
  height: 100%;
  z-index: 2;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: rgba(7, 4, 20, 0.99);
}

.navegation-compact nav {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.navegation-compact a {
  all: unset;
  flex-direction: column;
  position: relative;
  margin: 0.5rem;
  cursor: pointer;
  font-weight: bold;
  border: solid #151f74;
  border-radius: 1rem;
  width: 11rem;
  padding: 1rem;
  background-color: #1d267d;
  text-align: center;
}

.navegation-compact a:first-child{
    margin-top: 0px;
}

.navegation-compact a:active {
  background-color: #151f74;
}

.modal-title{
    width: 100%;
    text-align: center;
    font-size: xx-large;
}

.modal-language{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

@media (min-width:323px) {
 .navegation-compact nav{
  top: 55%;
 } 
}

@media (max-width: 1018px) {
  .navegation-compact {
    display: flex;
  }
}