.footer-container {
  padding: 0 1rem;
  margin: 1rem -1rem -1rem -1rem;
  display: grid;
  grid-template-columns: 70% 30%;
  align-items: center;
  background-color: #1d267d;
  display: flex;
  justify-content: center;
}

.footer-text {
  text-align: center;
  font-weight: bolder;
}
