.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
  }
  
  .logo{
    border-radius: 100%;
  }
  
  .logo-title h1 {
    margin-bottom: 0;
  }
  
  .logo-title h3 {
    margin-top: 0;
  }