.maintenanceImage{
    width: 20rem;
    height: 20rem;
}

.techContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    flex-direction: column;
}

.announcement{
    color: var(--primary);
}